<div class="loginForm">
    <h2>Already a member?</h2>
    <form action="/login" method="post" enctype="multipart/form-data">
        <input type="email" name="email" placeholder="Your Email">
        <input type="password" name="password" placeholder="Password">
        <br>
        <div class="submitButton">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
<div class="happyPeople">
    <img src="/img/2.webp" alt="happypeople">
    <h1>wow it's so cool here</h1>
</div>