<div class="registerForm">
    <form action="/new" method="post">
        <input type="text" name="firstName" placeholder="First Name">
        <input type="text" name="lastName" placeholder="Last Name">
        <br>
        <input type="email" name="email" placeholder="Your Email">
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="submit" value="Register">
    </form>
</div>