<div class="registerForm">
    <form action="/new" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Full Name">
        <input type="text" name="username" placeholder="Username">
        <br>
        <input type="email" name="email" placeholder="Your Email">
        <input type="password" name="password" placeholder="Password">
        <br>
        <div class="registerSubmit">
            <input type="submit" value="Register">
        </div>
    </form>
</div>