<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flakebook | Home</title>
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
            <% if(!user){ %> 
            <h1>Welcome to Flakebook!</h1>
            <p>You need to login or sign-up to gain entrance.</p>
            <div class="buttonContainerMain">
                <a href="/login"><button>Login</button></a>
                <a href="/registration"><button>Sign-Up</button></a>
            </div>
            <div class="happyPeopleMain">
                <h2>WE ARE SO HAPPY, JOIN US!</h2>
            </div>
                <% } else { %> 
                    <div class="welcomeBack">
                        <h2>Welcome back, <%- user.username %>!</h2>
                    </div>
                <% } %> 
    </main>
    <footer>

    </footer>
</body>
</html>