<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flakebook | Messages</title>
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <h1>Send a message</h1>
        <%- include("../partials/messenger.ejs") %> 
        <h1>Received messages: </h1>
        <h2>From:</h2>
        <ul>
            <li><span>User: </span>Message</li>
        </ul>
    </main>
    <footer>

    </footer>
</body>
</html>
<script>
</script>