<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flakebook | Profile</title>
</head>
<body>
    <%- include("../partials/header.ejs") %> 
    <main>
            <% if(!user){ %> 
            <h1>You've seem to have taken a wrong turn, buddy.</h1>
                <% } else { %> 
                    <h1>Here's your personal profile, <%- user.username %>!</h1>
                <% } %> 
    </main>
    <footer>

    </footer>
</body>
</html>