<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Flakebook | Verified!</title>
</head>
<body>
    <%- include ("../partials/header.ejs") %> 
    <main>
        <h1>Thanks for taking the time, to activate your account!</h1>
        <div class="verified">
            <p>You're now able to login and be a part of the community.</p>
            <a href="/"><button>back to Home</button></a>
        </div>
        <div class="finish">
            <img src="/img/finish.jpeg" alt="finisch">
        </div>
    </main>
</body>
</html>